@model IEnumerable<Fatec.Treinamento.Model.Usuario>

@{
    ViewBag.Title = "Index";
}

<h1>Alunos</h1>
<h3>@Html.ActionLink("Voltar", "index", "Instrutor")</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>


        <td>

            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Id }) 
  
        </td>
    </tr>
}

</table>
